header {
    display: flex;
    justify-content: space-between;
    padding: 22px;
    padding-bottom: 0;
    border-bottom: 1px solid #f2f2f2;
}

header .header__left {
    display: flex;
    align-items: flex-start;
}

header .header__left .logo {
    all: initial;
}

header .header__left .logo img{
    height: auto;
    width: 92px;
}

header .header__left .search {
    margin: 0;
    padding-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header .header__left .search .search__field .search__box {
    margin-left: 15px;
    width: 85%;
}

header .header__left .search .search__image--search {
    width: 20px;
    left: initial;
    right: 15px;
}

header .header__left .search .search__image--voice {
    right: 50px;
}

header .header__left .search .search__type {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    padding-top: 25px;
}

header .header__left .search .search__type .search__type--category {
    display: flex;
    align-items: center;
}


header .header__left .search .search__type .search__type--category__type {
    display: flex;
    margin-left: 15px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(0,0,0,0);
}

header .header__left .search .search__type .search__type--selected {
    border-bottom: 3px solid #1a73e8;
    margin-left: 0;
    padding-left: 3px;
    padding-right: 3px;
}
header .header__left .search .search__type .search__type--category__type:hover svg {
    fill: #1a73e8;
}

header .header__left .search .search__type .search__type--category__type:hover .search__type--category__type--text {
    color: #1a73e8;
}

header .header__left .search .search__type .search__type--category__type svg {
    height: auto;
    width: 16px;
    margin-right: 5px;
    fill: #5f6368;
}

header .header__left .search .search__type .search__type--category .search__type--category__type--text {
    text-decoration: none;
    color: #5f6368;
    font-size: 13px;
}

header .header__left .search .search__type .search__type--setting {
    padding-bottom: 15px;
    margin-left: 15px;
}

header .header__left .search .search__type .search__type--setting__type {
    text-decoration: none;
    font-size: 13px;
    color: #5f6368;
    padding: 5px;
}

header .header__left .search .search__type .search__type--setting__type--settings:hover {
    color: #1a73e8;
}

header .header__left .search .search__type .search__type--setting__type--tools:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 1px 0px rgb(0, 0, 0); 
}

header .navbar__right {
    margin-top: -50px;
}

header .navbar__right .navbar__item--apps__image:hover {
    height: 25px;
    width: 25px;
    background-color: rgb(158, 158, 158);
    background-position: center;
    border-radius: 20px;
}


/* results */

main {
    all: initial;
    font-family: Arial, sans-serif;
}

.results {
    margin-left: 150px;
    width: 570px;
}

.results__info {
    font-size: 14px;
    color: #70757a;
}

.results__list {
    margin-top: 30px;
}

.results__list .results__resultCard {
    margin-bottom: 30px;
}

.results__list .results__resultCard .results__link .results__ad::before {
    content: 'Ad \2022 \000A0';
    font-weight: bold;
    font-size: 14px;
    color: #202124;
}

.results__list .results__resultCard .results__link:hover {
    cursor: pointer;
}

.results__list .results__resultCard .results__link:hover .results__link--title a {
    text-decoration: underline;
}


.results__list .results__resultCard .results__link--website {
    font-size: 14px;
    color: #3c4043;
    margin-bottom: 7px;
}

.results__list .results__resultCard .results__link--title {
    font-size: 20px;
    margin-bottom: 7px;
}

.results__list .results__resultCard .results__link--title a {
    text-decoration: none;
    color: #1a0dab;
}

.results__list .results__resultCard p {
    margin: 0;
    color: #3c4043;
    font-size: 14px;
    line-height: 22px;
}

.results__list .results__resultCard p .results__date {
    color: #70757a;
}

.results__list .results__resultCard .results__links--internal__link {
    text-decoration: none;
    color: #1a0dab;
    font-size: 14px;
}

.results__list .results__resultCard .results__links--internal__link:hover {
    text-decoration: underline;
}

/* related */
/* related card */
.results .results__related .results__related--item {
    margin-top: 16px;
}

.results .results__related .results__related--card {
    box-shadow: 0px 0px 1px 0px #3c4043;
    padding: 10px 0;
    border-radius: 8px;
}

.results .results__related .results__related--card .related__info {
    color: #70757a;
    font-size: 14px;
    padding-left: 16px;
    margin: 8px auto;
}

.results .results__related .results__related--card .related__title {
    color: #222;
    font-size: 20px;
    font-weight: normal;
    padding-left: 16px;
    margin: 8px auto;
}


.results .results__related .results__related--card .related__links {
    display: flex;
}

.results .results__related .results__related--card .related__links--app {
    padding-left: 16px;
    width: 90px;
    overflow: hidden;
    text-align: left;
    color: #1a0dab;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.results .results__related .results__related--card .related__links--app img {
    object-fit: cover;
}

.results .results__related .results__related--card .related__links--app:hover {
    text-decoration: underline;
}

/* feedback link */
.results .results__related .results__related-feedback {
    text-align: right;
    margin-top: 5px;
    margin-right: 3px;
}

.results .results__related .results__related-feedback .results__related--feedback__link {
    text-decoration: none;
    color: #70757a;
    font-size: 12px;
    font-style: italic;
}

.results .results__related .results__related-feedback .results__related--feedback__link:hover {
    text-decoration: underline;
}

/* related list */
.results .results__related .results__related--list {
    padding-left: 16px;
}

.results .results__related .results__related--list .related__list--title {
    color: #222222;
    font-size: 20px;
}

.results .results__related .results__related--list .related__lists {
    display: flex;
}

.results .results__related .results__related--list .related__lists ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 32px;
}

.results .results__related .results__related--list .related__lists ul li {
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
}

.results .results__related .results__related--list .related__lists ul li a {
    text-decoration: none;
}


.results .results__related .results__related--list .related__lists ul li a:hover {
    text-decoration: underline;
}